.row {
  display: flex;
}

.button {
  font-size: 8rem;
  width: 100%;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  user-select: none;
  transition: ease;
}

.clicked {
  animation: glow 0.2s, darken 0.2s;
}

.button:hover {
  background-color: white;
  cursor: pointer;
}

.light__wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.light {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
}

.light--on {
  background-color: rgb(0, 255, 0);
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 40px rgba(174, 244, 175, 0.2);
  }
}

@keyframes darken {
  0% {
    background-color: rgb(235, 235, 235);
  }
  50% {
    background-color: rgba(255, 133, 245, 0.509);
  }
  100% {
    background-color: rgb(235, 235, 235);
  }
}
