.audio-player {
  width: 800px;
  padding: 1rem;
  background-color: rgb(235, 235, 235);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 3rem;
  width: 100%;
  justify-content: center;
  user-select: none;
  transition: ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.clicked {
  animation: glow 0.2s, darken 0.2s;
}

.button:hover {
  background-color: white;
  cursor: pointer;
}

.light__wrapper {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.light {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(213, 72, 72);
}
.light--on {
  background-color: rgb(4, 184, 4);
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 40px rgba(174, 244, 175, 0.2);
  }
}

@keyframes darken {
  0% {
    background-color: rgb(235, 235, 235);
  }
  50% {
    background-color: rgba(255, 133, 245, 0.509);
  }
  100% {
    background-color: rgb(235, 235, 235);
  }
}
