body {
  box-sizing: border-box;
  background: rgb(131, 58, 180);
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 0.2) 0%,
    rgba(253, 29, 29, 0.2) 59%,
    rgba(253, 29, 29, 0.2) 61%,
    rgba(252, 176, 69, 0.2) 100%
  );
}
