.uploader__wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 1rem;
}

.uploader__button {
  border: 2px solid black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.uploader__wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.uploader__input {
  display: inline-block;
  width: 100%;
}

.uploader__file-list {
  margin-top: 0.5rem;
}

.uploader__file-item {
}
