button {
  background-color: white;
  color: #000000;
  border: 0px solid black;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  border: 2px solid black;
  padding: 5px 8px;
  margin: 0 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.uploader__wrapper {
  background-color: rgb(230, 230, 230);
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 1rem;
  grid-area: three;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploader__button {
  border: 2px solid black;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.uploader__wrapper {
  display: flex;
  flex-direction: column;
}

.uploader__wrapper input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.uploader__input {
  display: inline-block;
  width: 100%;
}

.uploader__file-list {
  margin-top: 0.5rem;
}

.uploader__file-item {
}
