button {
  border: 0px solid black;
  border-radius: 2px;
  border: 2px solid $color-white;
  padding: 5px 8px;
  margin: 0 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.file-uploader__wrapper {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-uploader__button {
  border: 2px solid $color-white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.file-uploader__wrapper {
  display: flex;
  flex-direction: column;
}

.file-uploader__wrapper input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
  cursor: pointer;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

.file-uploader__input {
  display: inline-block;
  width: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.file-uploader__file-list {
  margin-top: 0.5rem;
}

.file-uploader__file-item {
}
