.header {
  height: 40px;
  background-color: rgb(240, 240, 240);
}

.header__content {
  height: 100%;
  padding: 0 1rem;
}

.header__primary-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
}
